#disco {
    padding: 20px 0 20px 0;
    text-align: center; /* Garante alinhamento central */
}

/* Título alinhado normalmente */
#disco .title {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

#disco table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-spacing: 10px;
    border-collapse: separate;
    transform: translateX(-55px);
}

#disco td {
    text-align: center;
    vertical-align: top;
    padding: 16px 2px 2px 2px;
}

#disco td p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}

#disco img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    cursor: pointer;
    border: 2px solid transparent;
}

#disco-futuro img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    cursor: not-allowed;
    border: 2px solid transparent;
}

#disco-futuro {
    cursor: not-allowed;
    background-color: #863838;
}

#namesong {
    font-size: 35pt;
    color: #240202;
}

#lyricstitle {
    font-size: 30pt;
}

#lyrics {
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   padding-bottom: 10px;
}

#lyricstext {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}